#carousel-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#carousel-title {
    font-size: xxx-large;
    font-weight: 800;
    color: #1872A4;
    margin-bottom: 40px !important;
    margin-top: 40px !important;
    text-align: center;
    text-transform: uppercase;
}

#carousel {
    position: relative;
    width: 80%;
    height: 400px;
    margin: 0px auto 50px;
    overflow: hidden;
    border-radius: 10px;
}

#carousel div {
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
}

#carousel img {
    width: 400px;
    height: 400px;
    transition: width 1s;
    border-radius: 12px;
}

.hideLeft {
    left: 0%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
}

.hideRight {
    left: 100%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
}

.prev {
    z-index: 5;
    left: 30%;
    transform: translateY(50px) translateX(-50%);
}

.prevLeftSecond,
.nextRightSecond {
    z-index: 4;
    opacity: 0.7;
    transform: translateY(50%) translateX(-50%);
}

.prevLeftSecond {
    left: 15%;
}

.nextRightSecond {
    left: 85%;
}

.selected {
    z-index: 10;
    left: 50%;
    transform: translateY(0px) translateX(-50%);
}

.next {
    z-index: 5;
    left: 70%;
    transform: translateY(50px) translateX(-50%);
}

.arrow-controls {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 65px;
}

.arrow-left,
.arrow-right {
    font-size: 40px;
    cursor: pointer;
    color: rgba(24, 114, 164, 0.6);
    transition: color 0.3s, opacity 0.3s;
    opacity: 0.6;
}

.arrow-left:hover,
.arrow-right:hover {
    color: #1872a4;
    opacity: 1;
}

.arrow-left:active,
.arrow-right:active {
    opacity: 1;
}