<main>
    <section>
        <div class="banner">
            <div class="banner-text">
                <div class="banner-title display-4 fw-bold text-uppercase">Consigue <em>Escape <br>from the Laundry</em> en <br>tu
                    dispositivo Android</div>
                <div class="banner-description">La aventura nunca se detine. Juega donde quieras con tu móvil y desafía
                    tus <br>reflejos en esta emocionante carrera. ¡Hacer la colada nunca fue tan divertido!</div>
                <div class="banner-button">
                    <a href="../../../assets/builds/EscapeFromTheLaundry.apk" download="EscapeFromTheLaundry.apk" class="btn-download"><i class="fas fa-download"></i> Descargar para Android</a>
                    <span class="text-download">Android 14 o superior</span>
                </div>
            </div>
            <div class="banner-image">
                <img src="../../../assets/imagenes/menu_inicio.webp" alt="Imagen de banner de descarga">
            </div>
        </div>
    </section>
    <section class="container my-5 download-section">
        <div class="row justify-content-center">
            <div class="col-md-5 d-flex flex-column align-items-center text-center card-custom mx-3">
                <h2 class="mb-4">Android</h2>
                <button (click)="descargarAndroid()" class="btn btn-dark mb-4">Descargar</button>
                <img src="../../../assets/imagenes/dispositivo_android.webp" alt="Android imagen" class="img-fluid rounded">
            </div>
            <div class="col-md-5 d-flex flex-column align-items-center text-center card-custom mx-3">
                <h2 class="mb-4">Xbox</h2>
                <button class="btn btn-dark mb-4">Descargar</button>
                <img src="../../../assets/imagenes/xbox.webp" alt="Xbox imagen" class="img-fluid rounded">
            </div>
        </div>
    </section>
    <section class="gameplay-section py-5">
        <div class="container d-flex justify-content-center">
            <div class="custom-card gameplay-card d-flex justify-content-between align-items-center"
                style="width: 59vw; height: 450px;">
                <div class="gameplay-video col-md-6">
                    <video width="100%" height="100%" autoplay muted loop>
                        <source src="../../../assets/videos/gameplay_escape_from_the_laundry.mp4" type="video/mp4">
                        Tu navegador no soporta la etiqueta de video.
                    </video>
                </div>
                <div class="gameplay-text col-md-6">
                    <h3 class="gameplay-title text-uppercase">¡Corre, salta y desafía la limpieza!</h3>
                    <p class="gameplay-description">En <em>Escape from the Laundry</em>, conviértete en LeBron Sockstar,
                        el calcetín rebelde que lucha por mantenerse sucio. Esquiva trampas, enemigos y la imponente
                        lavadora, mientras acumulas pelusas y demuestras tu habilidad en este frenético desafío de
                        plataformas 2D. ¿Hasta dónde podrás llegar?</p>
                </div>
            </div>
        </div>
    </section>
</main>