<main>
    <section class="pitch-section py-5">
        <div class="container d-flex justify-content-center">
            <div class="custom-card pitch-card d-flex justify-content-between align-items-center"
                style="width: 59vw; height: 450px;">
                <div class="pitch-text col-md-6">
                    <h3 class="pitch-title text-uppercase">Pitch de <em>Escape from the Laundry</em></h3>
                    <p class="pitch-description">Presentamos una propuesta innovadora dentro del género de plataformas
                        que cautivará a los jugadores. Con una mecánica fresca y un alto potencial de expansión, este
                        proyecto está diseñado para destacarse en el mercado de móviles y Xbox. ¡Sé parte de esta
                        experiencia y acompáñanos en su crecimiento!</p>
                </div>
                <div class="pitch-presentation col-md-6">
                    <iframe
                        src="https://docs.google.com/presentation/d/10wxacifCihO0nX7Pd0uXu-B0C2R1y6YsAGi49DJHKiM/embed?start=false&loop=false&delayms=3000"
                        frameborder="0" width="100%" height="100%" allowfullscreen
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container d-flex justify-content-center align-items-center">
            <video class="pitch-presentation-video" controls>
                <source src="../../../assets/videos/presentacion_pitch.mp4" type="video/mp4">
                Tu navegador no soporta la etiqueta de video.
            </video>
        </div>
    </section>
    <section>
        <app-banner-contacto></app-banner-contacto>
    </section>
</main>