<main>
    <section id="pagina-principal">
        <div class="hero">
            <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="carousel-image-wrapper">
                            <img src="https://placehold.co/1920x583/png?text=Imagen+1" class="d-block w-100 hero-image"
                                alt="Imagen 1">
                            <div class="overlay"></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-image-wrapper">
                            <img src="https://placehold.co/1920x583/png?text=Imagen+2" class="d-block w-100 hero-image"
                                alt="Imagen 2">
                            <div class="overlay"></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-image-wrapper">
                            <img src="https://placehold.co/1920x583/png?text=Imagen+3" class="d-block w-100 hero-image"
                                alt="Imagen 3">
                            <div class="overlay"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-text">
                <h1 class="display-4 fw-bold text-uppercase">Un mundo de diversión al alcance de tu mano</h1>
                <p class="lead text-large">Descarga <em>Escape from the Laundry</em> en tu dispositivo Android o Xbox y
                    vive la aventura infinita del calcetín más intrépido. Desafía a tus amigos, comparte tus logros y
                    conviértete en el campeón de las plataformas.</p>
                <p><strong class="text-xl">¡Descárgalo ahora y comienza la diversión!</strong></p>
                <div class="button-container">
                    <a href="#" class="btn btn-lg download-btn"><i class="fas fa-download"></i> Descargar para
                        Android</a>
                    <a href="#" class="btn btn-lg download-btn"><i class="fas fa-download"></i> Descargar para Xbox</a>
                </div>
            </div>
        </div>
    </section>
    <section class="features-section py-5">
        <div class="container text-center">
            <h2 class="section-title mb-5">POR QUÉ OPTAR POR <em>ESCAPE FROM THE LAUNDRY</em></h2>
            <div class="row justify-content-center g-4">
                <div class="col-md-6">
                    <div class="custom-card odd-card">
                        <img src="../../../assets/imagenes/protagonista.webp" alt="Calcetín rebelde" class="card-img">
                        <div class="card-content">
                            <h3 class="card-title">CALCETÍN REBELDE COMO PROTAGONISTA</h3>
                            <p class="card-text">Un enfoque único en un personaje inesperado que hará empatizar y reír.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="custom-card even-card">
                        <img src="../../../assets/imagenes/enemigo.webp" alt="Enemigo lavadora" class="card-img">
                        <div class="card-content">
                            <h3 class="card-title">PERSONALIDAD EN LOS OBSTÁCULOS Y ENEMIGOS</h3>
                            <p class="card-text">Cada desafío y enemigo tiene un carácter único y memorable.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="custom-card even-card">
                        <img src="https://placehold.co/200" alt="Enfoque silencioso" class="card-img">
                        <div class="card-content">
                            <h3 class="card-title">ENFOQUE SILENCIOSO PERO EXPRESIVO</h3>
                            <p class="card-text">Comunicación visual sin palabras que resalta emociones e intenciones.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="custom-card odd-card">
                        <img src="../../../assets/imagenes/obstaculo.webp" alt="0bstáculo perlas aromáticas" class="card-img">
                        <div class="card-content">
                            <h3 class="card-title">DIFICULTAD PROGRESIVA</h3>
                            <p class="card-text">Un reto que crece junto a tus habilidades para mantenerte siempre
                                enganchado.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="custom-card odd-card">
                        <img src="../../../assets/imagenes/pelusa.webp" alt="Ítem puntos pelusa" class="card-img">
                        <div class="card-content">
                            <h3 class="card-title">SIMBOLISMO DETRÁS DE LA TRAMA</h3>
                            <p class="card-text">Detalles que enriquecen la narrativa y dan profundidad a la historia.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="custom-card even-card">
                        <img src="../../../assets/imagenes/cubo_basura.webp" alt="Cubo de basura" class="card-img">
                        <div class="card-content">
                            <h3 class="card-title">DISEÑO VISUAL LLAMATIVO Y HUMOR IMPLÍCITO</h3>
                            <p class="card-text">Un estilo visual que combina humor con estética atractiva.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pitch-section py-5">
        <div class="container d-flex justify-content-center">
            <div class="custom-card pitch-card d-flex justify-content-between align-items-center"
                style="width: 80vw; height: 450px;">
                <div class="pitch-text col-md-6">
                    <h3 class="pitch-title text-uppercase">Pitch</h3>
                    <p class="pitch-description">Descubre el concepto innovador de <em>Escape from the Laundry</em>, un
                        enfoque fresco para los juegos de plataformas, con jugabilidad adictiva y un alto potencial de
                        crecimiento. ¡Únete a nosotros y sé parte de una propuesta preparada para destacar en el
                        mercado!</p>
                    <a [routerLink]="['/pitch']" class="btn btn-lg pitch-btn">Saber más</a>
                </div>
                <div class="pitch-video col-md-6">
                    <video width="100%" height="100%" controls>
                        <source src="../../../assets/videos/presentacion_pitch.mp4" type="video/mp4">
                        Tu navegador no soporta la etiqueta de video.
                    </video>
                </div>
            </div>
        </div>
    </section>
    <section class="hero-section">
        <div class="content download-content">
            <h1 class="download-title">EL DESAFÍO TE ESPERA.<br>¿ESTÁS LISTO PARA JUGAR?</h1>
            <a href="#" class="btn btn-lg android-btn"><i class="fas fa-download"></i> Descargar para Android</a>
        </div>
        <div class="image-overlay">
            <img src="https://placehold.co/1920x200" alt="Decoración de personajes">
        </div>
    </section>
    <section>
        <app-carousel-otros-juegos></app-carousel-otros-juegos>
    </section>
    <section>
        <app-banner-contacto></app-banner-contacto>
    </section>
</main>