<main>
    <section>
        <div
            class="banner-container text-center text-white d-flex flex-column align-items-center justify-content-center">
            <h1 class="display-4 fw-bold text-uppercase">Documentación: Fases de desarrollo</h1>
            <p class="lead">Explora las etapas esenciales en el proceso de desarrollo de <em>Escape from the
                    Laundry</em>.</p>
            <div class="image-overlay">
                <img src="../../../assets/imagenes/pelusa_girada.webp" alt="Ítem puntos pelusa girada" class="rounded-circle">
            </div>
        </div>
    </section>
    <section class="lista-fases">
        <app-lista-fases class="table-container"></app-lista-fases>
    </section>
    <div class="image-superpuesta">
        <img src="../../../assets/imagenes/protagonista_run.webp" alt="Calcetín rebelde corriendo">
    </div>
    <section>
        <app-banner-contacto></app-banner-contacto>
    </section>
</main>