<div class="banner d-flex align-items-center justify-content-center text-center position-relative">
    <div class="content text-white">
        <h1 class="fw-bold mb-4 contact-title">ADÉNTRATE EN EL MUNDO <br>DE INFINITE GAMES</h1>
        <a href="/sobre-nosotros#formulario-contacto" class="btn btn-lg btn-custom">Ponte en contacto con nosotros</a>
    </div>
    <img src="../../../assets/imagenes/cohete_banner_contacto.webp" alt="Imagen decorativa" class="banner-img position-absolute">
</div>
