.banner {
    background: url('../../../assets/imagenes/fondo_banner_contacto.webp') no-repeat center center/cover;
    height: 45vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.contact-title {
    font-size: 3rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.btn-custom {
    background-color: white;
    color: #383838;
    border: 2px solid white;
    padding: 10px 30px;
    font-weight: normal;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    font-size: 20px;
}

.btn-custom:hover,
.btn-custom:active {
    background-color: #696969;
    color: white;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.5);
}

.banner-img {
    bottom: 8%;
    left: 15%;
    width: 200px;
    height: auto;
    transition: width 0.3s ease;
}

.fa-download {
    margin-right: 10px;
}

@media (max-width: 1440px) {
    .banner {
        height: 40vh;
    }

    .contact-title {
        font-size: 2.5rem;
    }

    .btn-custom {
        font-size: 18px;
        padding: 8px 20px;
    }

    .banner-img {
        bottom: 5%;
        left: 10%;
        width: 120px;
    }
}

@media (max-width: 910px) {
    .banner-img {
        width: 100px;
    }
}

@media (max-width: 484px) {
    .banner-img {
        display: none;
    }
}

@media (max-width: 768px) {
    .banner {
        height: 35vh;
        text-align: center;
    }

    .contact-title {
        font-size: 2rem;
    }

    .btn-custom {
        font-size: 16px;
        padding: 6px 15px;
    }

    .banner-img {
        width: 100px;
        bottom: 2%;
        left: 5%;
    }
}