<header>
  <nav class="navbar navbar-expand-lg" style="background-color: #383838; position: relative; z-index: 1000;">
    <div class="container-fluid">
      <a class="navbar-brand mx-auto" href="/inicio#pagina-principal">
        <img src="../../../assets/imagenes/logo_transparent.webp" alt="Logo Infinite Games"
          style="width: 100px; height: 100px;" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarInfiniteGames"
        aria-controls="navbarInfiniteGames" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars" style="color: white;"></i>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarInfiniteGames">
        <ul class="navbar-nav mb-2 mb-lg-0 text-center">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/inicio']">Inicio</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/descargar']">Descargar</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/pitch']">Pitch</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" target="_blank"
              href="https://goldenrod-index-ca2.notion.site/Escape-from-the-Laundry-Game-design-template-1615a0b5b42980f7b8fdf61d0037588c?pvs=4">GDD</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/documentacion']">Documentación</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/sobre-nosotros']">Sobre nosotros</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>